<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	
	<!-- 
	<bean name="dynamicConfiguration" class="com.github.downgoon.jresty.commons.utils.DynamicProperties">
		<description>constructor method signature: String fileName,long delay,long period,String name,String charset</description>
		<constructor-arg index="0" value="classpath:dynamic.properties"/>
		<constructor-arg index="1" value="10000"/>
		<constructor-arg index="2" value="15000"/>
		<constructor-arg index="3" value="default"/>
		<constructor-arg index="4" value="UTF-8"/>
	</bean>
	 -->
	 
	 <bean id="propertyConfigurerDynamic"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="3" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
        	<list> 
	        	<value>classpath:dynamic.properties</value>
        	</list>
        </property>
    </bean>
	
</beans>
